
.navbar{
	border-width: 0px;
	margin: 9px;
}
.navbar-brand  {
	letter-spacing: 1px;
}
.profilepic{
	max-width: 100%;
	display:block;
    margin:auto;
    padding: 10px;
}
.col-md-5{
	margin-bottom: 8px;
	margin-top: 8px;
}
.home {
	min-height: 500px; 
}
.project{
	border: 2px solid;	
	padding: 0px 7.5% 7.5% 0px;
}
.project-pic{
    border: 1px solid;
    margin-bottom: 5px;
    }
@media screen and (min-width: 768px) {
    .content{
		margin-top: 100px;
	}
}
@media screen and (max-width: 768px) {
    .project-pic{
    	margin-left: 15%;
    }
    .project{
	text-align: center;
	}
}
@media screen and (max-width: 992px) {
    .project{

	border: 2px solid;	
	padding: 0px 12.5% 7.5% 0px;
	}
}
.more{
	bottom: 3px;
	right: 15px;
	text-align: right;
}